<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>

    <canvas id="board" width="1000" height="600"></canvas>

  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/canvas.js"></script>
  <script>
    var socket = io();
  </script>
</html>
